In [1]:
dataset1="datasets/MachineLearningCVE/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv"
dataset2="datasets/TrafficLabelling /Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv"
dataset3="datasets/UNSW-NB15/Training and Testing Sets/UNSW_NB15_training-set.csv"
dataset4="train_alldata_EDA.csv"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(dataset4)

/tmp/ipykernel_59571/3166276058.py:1: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataset4)

In [4]:
df.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
0,175.45.176.0,5060,149.171.126.18,4569,udp,INT,0.100437,178,0,254,...,0,2,2,1,1,1,1,1,normal,0
1,149.171.126.15,1043,175.45.176.3,53,udp,INT,0.000008,264,0,60,...,0,20,20,16,16,16,8,20,normal,0
2,59.166.0.8,15265,149.171.126.8,13292,tcp,FIN,0.014842,2542,23122,31,...,0,18,6,3,4,1,1,1,normal,0
3,59.166.0.1,4951,149.171.126.9,21,tcp,FIN,0.807553,2934,3740,31,...,1,1,2,5,2,1,1,2,normal,0
4,59.166.0.9,11505,149.171.126.3,6881,tcp,FIN,0.018598,1540,1644,31,...,0,8,8,10,10,6,1,7,normal,0

In [7]:
df['proto'].unique()

array(['udp', 'tcp', 'sctp', 'arp', 'idrp', 'unas', 'ospf', 'hmp',
       'mobile', 'ddx', 'ipnip', 'mhrp', 'snp', 'ipv6-frag',
       'secure-vmtp', 'isis', 'fc', 'a/n', 'pup', 'wb-mon', 'icmp',
       'aris', 'ptp', 'tcf', 'ipip', 'ip', 'ipv6-no', 'vmtp', 'xnet',
       'ipv6-opts', 'idpr', 'sep', 'tlsp', 'l2tp', 'sat-expak',
       'wb-expak', 'pnni', 'pvp', 'netblt', 'larp', 'bna', 'sun-nd',
       'iatp', 'visa', 'xns-idp', 'crudp', 'br-sat-mon', 'i-nlsp',
       'merit-inp', 'ipx-n-ip', 'chaos', 'il', 'cftp', 'pim', 'pgm',
       'stp', 'wsn', 'trunk-2', 'mfe-nsp', 'eigrp', 'any', 'tp++', 'ifmp',
       'micp', 'etherip', 'pri-enc', 'mux', 'swipe', 'nvp', 'iplt',
       'cpnx', 'ax.25', 'kryptolan', 'rsvp', 'gmtp', 'encap', 'sdrp',
       'ipv6', 'dgp', 'idpr-cmtp', 'sccopmce', 'ipcomp', 'narp', 'pipe',
       'smp', 'ipv6-route', 'gre', 'ipcv', 'zero', 'skip', 'cbt', 'argus',
       'leaf-2', 'bbn-rcc', 'ttp', 'igp', 'mtp', 'fire', 'crtp', 'emcon',
       'sat-mon', 'sps', 'xtp', 'srp', 'iso-tp4', 'vrrp', 'sm', 'prm',
       'vines', 'scps', 'compaq-peer', 'trunk-1', 'dcn', 'ggp', 'cphb',
       '3pc', 'egp', 'nsfnet-igp', 'st2', 'ippc', 'igmp', 'ib', 'ddp',
       'iso-ip', 'sprite-rpc', 'uti', 'aes-sp3-d', 'rvd', 'leaf-1', 'rdp',
       'qnx', 'irtp', 'rtp', 'udt', 'esp'], dtype=object)

In [7]:
unique_labels = df['attack_cat'].unique()
print(unique_labels)

['Normal' 'Backdoor' 'Analysis' 'Fuzzers' 'Shellcode' 'Reconnaissance'
 'Exploits' 'DoS' 'Worms' 'Generic']